@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #101111;
  --text-highlights: #FFFFFF;
  --text-overshadowed: #AAAAAA;
}

body {
  font-family: var(--font-inter), sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
}

